/* обнуляем отступы */
*{
	margin:0;
	padding:0;
}

body {
	background-color:#fff; /* задаем цвет фона (белый) */
	color:#fff; /* задаем цвет текста (белый) */
	font-size:14px; /* задаем размер шрифта на странице */
	font-style:normal; /* начертание шрифта (нормальное) */
	font-family:Arial, Helvetica, sans-serif; /* устанавливаем шрифт */
}
.container {
	width:400px; /* ширина контейнера */
	height:400px; /* высота контейнера */
	position:relative; /* устанавливаем положение контейнера */
	margin: 20px right; /* задаем отступы верх-низ и располагаем контейнер по центру */
	padding:10px; /* задаем внутренние отступы */
}
#nav {
	margin:0 auto; /* выравниваем по центру */
	border:2px solid #993300; /* рамка меню - линия толщиной в 2px серого цвета */
	border-radius:2px; /* радиус скругления уголков рамки */
	-moz-border-radius:2px; /* для Firefox */
	-webkit-border-radius:2px; /* для Chrome */
	box-shadow:1px 1px 4px #666666; /* тень рамки */
}
#nav, #nav ul {
	list-style:none; /* убираем маркер списка */
	padding:0; /* обнуляем внутренние отступы */
	width:150px; /* задаем ширину */
}
#nav ul {
	position:relative; /* относительное позиционирование (для работы z-index) */
	z-index:-1; /* используем отрицательное значение чтобы подменю не отображались поверх основных пунктов*/
}
#nav li {
	position:relative; /* относительное позиционирование (для работы z-index) */
	z-index:100; /* располагаем выше элементы списка (подменю) */
}

#nav li a {
	background-color:#993300; /* цвет фона для нашего меню () */
	color:#fff; /* цвет шрифта (белый) */
	display:block; /* отображаем как блок */
	font-size:12px; /* размер шрифта */
	font-weight:bold; /* делаем шрифт жирным */
	line-height:28px; /* межстрочный интервал */
	outline:0; /* убираем внешней границы */
	padding-left:15px; /* назначаем левый отступ */
	text-decoration:none; /* убираем подчеркивание у ссылок меню */
}

/* параметры основных пунктов меню */				  
#nav li a:hover {
	background-color:#622000; /* цвет фона */
}

/* параметры для подменю */
#nav ul li a {
background-color:#f4f4f4; /* цвет фона */
border-bottom:1px solid #ccc; /* линия толщиной в 1px серого цвета внизу подменю */
color:#000; /* шрифт (белый) */
font-size:11px; /* размер шрифта */
line-height:22px; /* задаем межстрочный интервал */
}

/* параметры при наведении указателя на пункты (ссылки) подменю */
#nav ul li a:hover {
	background-color:#ddd; /* цвет фона */
	color: #993300; /* цвет ссылок при наведении курсора */
}


/* делаем раскрытие пунктов меню более плавным */
/* посмотрите как будет раскрываться список подменю, изменив время к примеру с 0.4s до 33.4s */
#nav a:focus ~ ul li {
margin-top:0;
-moz-transition:  0.1s linear; /* для Firefox 4 */
-ms-transition: 0.1s linear; /* для IE */
-o-transition: 0.1s linears; /* для Опера */
-webkit-transition: 0.1s linears; /* для Chrome и Safari */
transition: 0.1s linear; /* указываем параметры анимированного перехода */
}

/* для показа стрелочки "вверх" после клика */
#nav a:focus + img, #nav a:active + img {
display:block; /* показываем как блочные элементы */
}